.jumbotron {
  text-align: center;
  background-color: transparent;
  margin-bottom: 0;
}

.opaq {
    opacity: 0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.opaq:hover {
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

tr.clickableRow { 
    cursor: pointer; 
}

form {
  display: inline;
  padding: 0 10px 10px 10px;  
}

#license {
  max-height: 23px;
  margin: -10px 15px 0 20px;
}

#flag {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 10 !important;
}

/* facebook comments */
.fb-comments, 
.fb-comments iframe[style], 
.fb-like-box, 
.fb-like-box iframe[style] {
    width: 100% !important;
}

.fb-comments span, 
.fb-comments iframe span[style], 
.fb-like-box span, 
.fb-like-box iframe span[style] {
    width: 100% !important;
}